#update-timeout-modal .modal-body {
    padding-top: 40px;
}

.update-timeout-info {
    line-height: 22px;
}

.update-timeout-label {
    position: relative;
    right: 3px;
    display: inline-block;
    text-align: right;
    width: 100px;
}

.update-timeout-value {
    font-size: 22px;
    display: inline-block;
    width: 100px;
    text-align: left;
    white-space: nowrap;

}

#period-slider {
    margin: 20px 50px 80px 50px;
}

#period-slider.noUi-connect {
  background: #22bc66;
}

#grace-slider {
    margin: 20px 50px 80px 50px;
}

#grace-slider.noUi-connect {
  background: #f0ad4e;
}

#nag-slider {
    margin: 20px 50px 80px 50px;
}

#nag-slider.noUi-connect {
  background: #4ee5f0;
}

#period-slider .noUi-value, #grace-slider .noUi-value, #nag-slider .noUi-value {
    width: 60px;
    margin-left: -30px;
}

.update-timeout-terms {
    color: #999;
}

.update-timeout-terms p {
    margin: 0;
}


.update-timeout-terms span {
    font-weight: bold;
}

.label-tag {
    background-color: #eee;
    color: #555;
    font-style: normal;
}

.label-department {
    background-color: #203422;
    color: #fff;
    font-style: normal;
}

.label-department:hover {
    text-decoration: none;
    background-color: #fff;
    color: #203422;
    font-style: normal;
}

.label-department:active,:checked,:focus {
    background-color: #fff;
}


#show-usage-modal  .modal-dialog {
     width: 1100px;
 }

 #show-usage-modal .tab-content {
     margin-top: 15px;
 }

.nag-mode-div {
    position: relative;
}

.nag-mode-text {
    position: absolute;
    top: -40px;
    left: 100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 28px;
    margin-left: 30px;
}
  
/* Hide default HTML checkbox */
.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #22bc66;
}

input:focus + .slider {
    box-shadow: 0 0 1px #22bc66;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
